PORT=<server-port>

DB_URI=<database-URI>

ENCRYPTION_KEY=<encryption-key>

USER_ACCESS_TOKEN_KEY=<jwt-access-key>
USER_REFRESH_TOKEN_KEY=<jwt-refresh-key>

ADMIN_ACCESS_TOKEN_KEY=<jwt-access-key>
ADMIN_REFRESH_TOKEN_KEY=<jwt-refresh-key>

JWT_ACCESS_EXPIRES_IN=<jwt-access-expiry>
JWT_REFRESH_EXPIRES_IN=<jwt-refresh-expiry>

GOOGLE_CLIENT_SECRET=<google-client-secret>
GOOGLE_CLIENT_IDS=<google-client-ids-separated-by-comma>
